.commentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5em;
  color: #fff;
}

.commentBorder {
  border-left: 2px solid #4d4d4d;
  /* padding-left: 1em; */
  left: 3em;
  top: 10.5em;
  height: 5em;
  position: absolute;
}

.postPhotoComment img {
  width: 20%;
  height: 20%;
  object-fit: cover;
  border-radius: 100%;
  margin: 1em;
}

.postComment {
  width: 80%;
  height: 0px;
  border-radius: 0.1em;
  font-size: 1.3em;
  font-weight: 500;
  position: relative;
  color: #fff;
  margin-top: 1.8em;
  background: none;
  margin-left: 3.5em;
  bottom: 5.5em;
  outline-style: none;
}

.postNameComment {
  font-size: 1em;
  color: #fff;
  background: none;
  outline-style: none;
  margin-left: 1em;
}

.usernameComment {
  font-size: 0.7em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  color: #757575;
  margin-top: 1em;
  background: none;
  outline-style: none;
}

.postDateComment {
  color: #757575;
  font-size: 0.7em;
}

.postCaptionComment {
  color: #fff;
  margin-left: 3em;
  font-size: 1em;
  position: relative;
  top: 0.5em;
  right: 1.8em;
}

.CommentImage img {
  width: 20%;
  height: 20%;
  object-fit: cover;
  border-radius: 100%;
  margin: 1em;
  margin-left: 1.5em;
  margin-top: 1.8em;
}

.writeComment input {
  width: 70%;
  height: 3em;
  border: 1px solid #4d4d4d;
  border-radius: 0.1em;
  font-size: 1.3em;
  font-weight: 500;
  position: relative;
  color: #fff;
  background: none;
  bottom: 3.5em;
  left: 4em;
  border: none;
  outline-style: none;
}

.btn-comment{
  color: #fff;
  width: 5em;
  height: 3em;
  border-radius: 4em;
  background-color: #1da1f2;
  font-size: 1em;
  float: right;
  margin-top: -4em;
  margin-left: 30em;
}